#modal-error {
    background: rgba(223, 32, 44, 0.5);
    visibility: hidden;
    opacity: 0;
}

#modal-error h4 {
    text-transform: none;
    color: white;
}

#ageModal {
    background-color: rgba(255, 255, 255, 0.8);
}

#ageModal .modal-dialog {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(156, 109, 4, 0.8)
}

#ageModal .modal-content {
    top: -5em;
    color: white;
}

#ageModal .age-limit h1 {
    text-decoration: none;
    font-style: italic;
    text-transform: capitalize;
}

#ageModal .text-important h4 {
    text-transform: none;
    color: white;
}

#ageModal .formular {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-bottom: 2em;
    padding: 0;
}

#ageModal .form-group {
    display: inline;
    width: auto;
    text-align: center;
}

#ageModal .form-group input {
    padding: 10px;
    min-width: 60px;
    width: auto;
    text-align: center;
    font-size: 1.2em;
    border: none;
    background-color: #7F8248;
    color: #d4d5c5;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    background-clip: padding-box;
}

#ageModal .form-group input::placeholder {
    color: white;
    opacity: 0.5;
}

#ageModal input:focus::placeholder {
    color: transparent;
}

#ageModal .form-group input:focus {
    outline: 1px solid rgba(156, 109, 4, 1);
}

#ageModal .form-group label {
    text-align: center;
    width: auto;
}

#ageModal button#age-submit {
    position: relative;
    background-color: #7F8248;
    border: none;
    font-size: 1.2em;
    color: #FFFFFF;
    padding: 12px 6px;
    width: 150px;
    border-radius: 2px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.75);
}

#ageModal button#age-submit:focus {
    outline: none;
}

#ageModal button#age-submit:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#ageModal button#age-submit:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#ageModal .modal-footer {
    text-align: center;
    visibility: hidden;
    opacity: 0;
}

#ageModal .remember {
    display: block;
    margin-bottom: 1em;
    font-size: 1em;
}


/*body stop scrolling*/

.addOverflow {
    overflow-y: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
